.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.login-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 430px;
  max-width: 92%;
  background: white;
  padding: 32px;
  border-radius: 40px;
}

.login-title {
  text-align: center;
  color: red;
  margin-bottom: 22px;
  
}

.login-card label {
  display: block;
  margin-top: 14px;
  font-size: 14px;
}

.login-card input {
  width: 100%;
  margin-top: 6px;
  padding: 12px 16px;
  border-radius: 24px;
  border: 1px solid #dcdcdc;
  outline: none;
}

.password-wrapper {
  position: relative;
}

.password-wrapper .eye {
  position: absolute;
  right: 14px;
  top: 45%;
  cursor: pointer;
  opacity: 0.3;
}

.login-button {
  width: 100%;
  margin-top: 22px;
  padding: 14px;
  background: #0aa000;
  color: white;
  border: none;
  border-radius: 28px;
  font-size: 16px;
  cursor: pointer;
}

.login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  font-size: 14px;
}
