.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 2rem;
  max-width: 420px;
}

.search-box {
  position: relative;
}

.search-box input {
  width: 100%;
  height: 30px;
  border-radius: 22px;
  border: 1px solid #dbeafe;
  padding: 0 44px 0 16px; 
  font-size: 14px;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #38bdf8;
  pointer-events: none;
}
@media (max-width: 1024px)  {
  .search-wrapper {
    width: 25rem;
    height: 5rem;
  }
  .search-box {
    height: 100%;
  }
}


@media (max-width: 430px) and (orientation: portrait){
  .search-wrapper {
    width: 100%;
    margin: 0;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .search-box {
    width: 100%;
  }

  .search-box input {
    width: 100%;
    height: 38px;
    font-size: 14px;
    border-radius: 24px;
  }
}

@media screen and (max-width: 932px) and (orientation: landscape) {
  .search-wrapper {
    position: sticky;
    top: 56px;                 
    z-index: 50;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 12px 16px;
    background: #f8f9fb;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .search-box {
    width: 100%;
    
  }

  .search-box input {
    width: 100%;
    height: 38px;
    border-radius: 24px;
    font-size: 14px;
  }
}



@media (min-width: 431px) and (max-width: 810px) {

  .price-top {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: stretch;
  }

  .search-wrapper {
    width: 100%;
  }

  .search-wrapper input {
    width: 100%;
  }

}