.price-grid {
  display: grid;
  grid-template-columns:
    32px
    95px
    300px
    70px
    75px
    110px
    75px
    320px
    32px;   
  align-items: center;
  grid-gap: 20px;
}
.price-header {
  margin-left: 8px;
}
.price-header span {
  white-space: nowrap;
  text-align: left;
}

.price-row {
  padding: 4px 0;
}
.price-header.price-grid {
  position: sticky;
  top: 108px;                 
  background: #f8f9fb;
  padding: 8px 0;
}
.pill {
  width: 100%;
  height: 26px;
  padding: 0 10px;
  border-radius: 14px;
  border: 1px solid #d6d6d6;
  background: #ffffff;
  font-size: 12.5px;
  color: #333;
  outline: none;
}

.pill:focus {
  border-color: #5cb0f0;
}

.article {
  text-align: center;
}

.inprice,
.price,
.stock {
  text-align: right;
}

.unit {
  text-align: left;
}

.desc {
  white-space: nowrap;
  overflow: hidden;
 
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots {
  font-size: 18px;
  color: #888;
  cursor: pointer;
  text-align: center;
}
.price-table-wrapper {
  overflow-y: auto;
  padding-top: 8px;
  height: calc(100vh - 260px);
}

.price-header {
  position: fixed;
  top: 0;
  z-index: 20;
  background: #f8f9fb;
}

@media (max-width: 1170px) {
  .price-grid {
    grid-template-columns:
      28px
      70px
      150px
      60px
      60px
      110px
      70px
      200px
      28px;
    gap: 10px;
  }
}

@media (max-width: 1024px)  {
  .price-header .inprice,
  .price-header .desc,
  .price-row .inprice,
  .price-row .desc {
    display: none;
  }

  .price-grid {
    grid-template-columns:
      32px        
      140px      
      300px       
      90px        
      150px       
      90px        
      32px;      

    gap: 20px;
    

  }
  .pill {
    font-size: 1.1rem;
  }
  .price-header {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 932px) and (orientation: landscape)  {
  .price-header .inprice,
  .price-header .desc,
  .price-header .article,
  .price-header .unit,
  .price-header .stock,
  .price-row .inprice,
  .price-row .desc,
  .price-row .article,
  .price-row .unit,
  .price-row .stock {
    display: none;
  }

  .price-grid {
    grid-template-columns:
      32px        
      600px
      120px     
      32px;      

    gap:7px;
    

  }
  .pill{
    font-size: 0.9rem;
  }
   .price-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #f8f9fb;
  }

}
@media (max-width: 820px)  {
  .price-header .inprice,
  .price-header .desc,
  .price-row .inprice,
  .price-row .desc {
    display: none;
  }

  .price-grid {
    grid-template-columns:
      32px        
      100px      
      200px       
      90px        
      100px       
      90px        
      32px;      

    gap: 20px;
    

  }
  .pill {
    font-size: 1.1rem;
  }
}


@media (max-width: 768px)  {
  .price-header .inprice,
  .price-header .desc,
  .price-row .inprice,
  .price-row .desc {
    display: none;
  }

  .price-grid {
    grid-template-columns:
      32px        
      100px      
      200px       
      90px        
      100px       
      90px        
      32px;      

    gap: 20px;
    

  }
  .pill {
    font-size: 1.1rem;
  }
}
@media (max-width: 430px)  {
  .price-header .inprice,
  .price-header .desc,
  .price-header .article,
  .price-header .unit,
  .price-header .stock,
  .price-row .inprice,
  .price-row .desc,
  .price-row .article,
  .price-row .unit,
  .price-row .stock {
    display: none;
  }

  .price-grid {
    grid-template-columns:
      32px        
      250px
      80px     
      32px;      

    gap:5px;
    

  }
  .pill{
    font-size: 0.9rem;
  }
   .price-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #f8f9fb;
  }

}
@media (max-width: 390px)  {
  .price-header .inprice,
  .price-header .desc,
  .price-header .article,
  .price-header .unit,
  .price-header .stock,
  .price-row .inprice,
  .price-row .desc,
  .price-row .article,
  .price-row .unit,
  .price-row .stock {
    display: none;
  }

  .price-grid {
    grid-template-columns:
      32px        
      200px
      80px     
      32px;      

    gap:5px;
    

  }
  .pill{
    font-size: 0.9rem;
  }
   .price-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #f8f9fb;
  }

}




